<!DOCTYPE html>
<html lang="en">
<head>
<title>Foodies|Contact</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Dynalight_400.font.js" type="text/javascript"></script>
<script src="js/FF-cash.js" type="text/javascript"></script>
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
</head>
<body id="page6">
<!--==============================header=================================-->
<header>
  <div class="row-top">
    <div class="main">
      <div class="wrapper">
        <h1><a href="foodies.html">foodiez<span>.com</span></a></h1>
        <nav>
          <ul class="menu">
            <li><a href="foodies.html">HOME</a></li>
            <li><a href="menu.html">MENUS</a></li>
            <li><a href="catalogue.html">CATEGORIES</a></li>
            <li><a href="faq.html">FAQS </a></li>
            <li><a class="active" href="contact.html">CONTACT US</a></li>
            <li><a href="login.html">LOG IN</a></li>
            <li><a href="register.html">REGISTRATION</a></li>
	      <li><a href="shipping.html"><i class="fa fa-shopping-cart" style="font-size:40px;color:#FF4500"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="row-bot">
    <div class="row-bot-bg">
      <div class="main">
        <h2>Impressive Selection <span>for any Occasion</span></h2>
      </div>
    </div>
  </div>
</header>
<!--==============================content================================-->
<section id="content">
  <div class="main">
    <div class="wrapper">
      <article class="col-1">
        <div class="indent-left">
          <h3 class="p1">Our Contacts</h3>
          <figure class="indent-bot">
                    </figure>
          <dl>
            <dt class="p1">Karmala-413206  <br>Solapur, Maharashtra.</dt>
            <dd><span>Contact:</span> +91-8055478354</dd><br>
                     <dd><span>Email:</span>rangermyth123@gmail.com</dd>
          </dl>
        </div>
      </article>
      <article class="col-2">
        <h3 class="p1">Contact Form</h3>
        <form id="contact-form" action="#" method="post" enctype="multipart/form-data">
          <fieldset>
            <label><span class="text-form">Your Name:</span>
              <input name="name" type="text" />
            </label>
            <label><span class="text-form">Your Email:</span>
              <input name="email" type="text" />
            </label>
            <div class="wrapper">
              <div class="text-form">Your Message:</div>
              <div class="extra-wrap">
                <textarea></textarea>
                <div class="clear"></div>
                <div class="buttons"> <a class="button-2" href="#">Clear</a> <a class="button-2" href="#">Send</a> </div>
              </div>
            </div>
          </fieldset>
        </form>
      </article>
    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
  <div class="main">
    <div class="aligncenter"> <span>Copyright &copy; <a href="#">foodies</a> All Rights Reserved</span> Visit Again <a target="_blank" href="foodies.html">Foodies.com</a> </div>
  </div>
</footer>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>
