<!DOCTYPE html>
<html lang="en">
<head>
<title>Foodies|Menu</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Dynalight_400.font.js" type="text/javascript"></script>
<script src="js/FF-cash.js" type="text/javascript"></script>
<script src="js/jquery.equalheights.js" type="text/javascript"></script>
<script src="js/jquery.bxSlider.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#slider').bxSlider({
        pager: true,
        controls: false,
        moveSlideQty: 1,
        displaySlideQty: 3
    });
});
</script>
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
</head>
<body id="page2">
<!--==============================header=================================-->
<header>
  <div class="row-top">
    <div class="main">
      <div class="wrapper">
        <h1><a href="foodies.html">foodiez<span>.com</span></a></h1>
        <nav>
          <ul class="menu">
            <li><a href="foodies.html">HOME</a></li>
            <li><a class="active" href="menu.html">MENUS</a></li>
            <li><a href="catalogue.html">CATEGORIES</a></li>
            <li><a href="faq.html">FAQS </a></li>
            <li><a href="contact.html">CONTACT US</a></li>
            <li><a href="login.html">LOG IN</a></li>
            <li><a href="register.html">REGISTRATION</a></li>
	      <li><a href="shipping.html"><i class="fa fa-shopping-cart" style="font-size:40px;color:#FF4500"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="row-bot">
    <div class="row-bot-bg">
      <div class="main">
        <h2>Impressive Selection <span>for any Occasion</span></h2>
      </div>
    </div>
  </div>
</header>
<!--==============================content================================-->
<section id="content">
  <div class="main">
    <div class="wrapper">
      <article class="col-1">
        <div class="indent-left">
          <div class="img-indent-bot">
            <h3 class="prev-indent-bot">Special Offer</h3>
            <div class="wrapper img-indent-bot">
              <figure class="img-indent"><img src="images/page2-img1.jpg" alt=""></figure>
              <div class="extra-wrap">
                <h5>Italian Pasta</h5>
                This pasta recipe can be served with various types of sauces. Pasta Con Pomodoro E Basilico. </div>
            </div>
            <a class="button-1" href="catalogue.html">Read More</a> </div>
          <h3 class="p1">Our Best Menus with special names</h3>
          <div id="slider">
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img2.jpg" alt=""></a></figure>
                <h5>organic juices</h5>
                (price Rs.40.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img5.jpg" alt=""></a></figure>
                <h5>Delicious Desserts</h5>
                (price Rs.80.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img8.jpg" alt=""></a></figure>
              <h5>Zuppa soup</h5>
              (price Rs.90.95) </div>
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img3.jpg" alt=""></a></figure>
                <h5>Banquet snack</h5>
                (price Rs.120.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img6.jpg" alt=""></a></figure>
                <h5>Salads</h5>
                (price Rs.62.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img9.jpg" alt=""></a></figure>
              <h5>Sandwiches</h5>
              (price Rs.72.95) </div>
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img4.jpg" alt=""></a></figure>
                <h5>Lazeez Kathi</h5>
                (price Rs.109.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img7.jpg" alt=""></a></figure>
                <h5>Grill sweets</h5>
                (price Rs.129.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img10.jpg" alt=""></a></figure>
              <h5>Kabab</h5>
              (price Rs.135.95) </div>
              <!-- we can add more products here like given  below names  -->
            <!-- <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img2.jpg" alt=""></a></figure>
                <h5>Ice-Cream</h5>
                (price Rs.12.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img5.jpg" alt=""></a></figure>
                <h5>Samosa's</h5>
                (price Rs.12.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img8.jpg" alt=""></a></figure>
              <h5>Kachori's</h5>
              (price Rs.12.95) </div>
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img3.jpg" alt=""></a></figure>
                <h5>Chinese</h5>
                (price Rs.12.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img6.jpg" alt=""></a></figure>
                <h5>Chickens</h5>
                (price Rs.12.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img9.jpg" alt=""></a></figure>
              <h5>Tandooris</h5>
              (price Rs.12.95) </div>
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img4.jpg" alt=""></a></figure>
                <h5>Cold Coffees</h5>
                (price Rs.12.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img7.jpg" alt=""></a></figure>
                <h5>Milk Shakes</h5>
                (price Rs.12.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img10.jpg" alt=""></a></figure>
              <h5>Donuts</h5>
              (price Rs.12.95) </div>
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img2.jpg" alt=""></a></figure>
                <h5>Dosas</h5>
                (price Rs.12.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img5.jpg" alt=""></a></figure>
                <h5>Uthappa</h5>
                (price Rs.12.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img8.jpg" alt=""></a></figure>
              <h5>Idli Sambhar</h5>
              (price Rs.12.95) </div>
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img3.jpg" alt=""></a></figure>
                <h5>French Fries</h5>
                (price Rs.12.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img6.jpg" alt=""></a></figure>
                <h5>Paneers Specials</h5>
                (price Rs.12.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img9.jpg" alt=""></a></figure>
              <h5>Aloo Mutters</h5>
              (price Rs.12.95) </div>
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img4.jpg" alt=""></a></figure>
                <h5>Dum Aloo</h5>
                (price Rs.12.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img7.jpg" alt=""></a></figure>
                <h5>Kofta's</h5>
                (price Rs.2.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img10.jpg" alt=""></a></figure>
              <h5>Parathas</h5>
              (price Rs.12.95) </div>
            <div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img4.jpg" alt=""></a></figure>
                <h5>Tandoors</h5>
                (price Rs.12.95) </div>
              <div class="p2">
                <figure><a href="catalogue.html"><img src="images/page2-img7.jpg" alt=""></a></figure>
                <h5>Cheese Bites</h5>
                (price Rs.12.95) </div>
              <figure><a href="catalogue.html"><img src="images/page2-img10.jpg" alt=""></a></figure>
              <h5>Tangy Saugaes</h5>
              (price Rs.12.95) </div> -->
          </div>
        </div>
      </article>
      <article class="col-2">
<marquee direction="up" scrollamount="05">
        <h3>Vegetarian-Rolls</h3>
        <ul class="price-list p2">
          <li><span>Rs.30/-</span><a href="catalogue.html">Mixed Veg Roll</a></li>
          <li><span>Rs.35/-</span><a href="catalogue.html">Veg Salad Roll</a></li>
          <li><span>Rs.50/-</span><a href="catalogue.html">Paneer Roll</a></li>
          <li><span>Rs.60/-</span><a href="catalogue.html">Cheese Roll</a></li>
          <li><span>Rs.70/-</span><a href="catalogue.html">Paneer Cheese Roll</a></li>
          <li><span>Rs.50/-</span><a href="catalogue.html">Special Veg Roll</a></li>
          <li><span>Rs.60/-</span><a href="catalogue.html">Paneer Mayo Roll</a></li>
<h3>Veg Biryani's</h3>
          <li><span>Rs.100/-</span><a href="catalogue.html">Paneer Biryani(One Portion)</a></li>
          <li><span>Rs.70/-</span><a href="catalogue.html">Veg Biryani(One Portion)</a></li>
	  <li><span>Rs.250/-</span><a href="catalogue.html">Veg Biryani(Family Pack)</a></li>
	  <li><span>Rs.500/-</span><a href="catalogue.html">Veg Biryani(Bulk Pack)</a></li>
<h3>Non-Vegetarian Rolls</h3>
          <li><span>Rs.25/-</span><a href="catalogue.html">Egg Roll</a></li>
          <li><span>Rs.35/-</span><a href="catalogue.html">Egg Mayo Roll</a></li>
          <li><span>Rs.40/-</span><a href="catalogue.html">Double Egg Roll</a></li>
          <li><span>Rs.60/-</span><a href="catalogue.html">Chicken Salad Roll</a></li>
          <li><span>Rs.70/-</span><a href="catalogue.html">Chicken Egg Roll</a></li>
          <li><span>Rs.70/-</span><a href="catalogue.html">Chicken Tikka Roll</a></li>
          <li><span>Rs.75/-</span><a href="catalogue.html">Chicken Cheese Roll</a></li>
          <li><span>Rs.75/-</span><a href="catalogue.html">Chicken Mayo Roll</a></li>
          <li><span>Rs.100/-</span><a href="catalogue.html">Jumbo Chicken Tikka roll</a></li>
<h3>Non-Veg Biryani's</h3>
          <li><span>Rs.80/-</span><a href="catalogue.html">Egg Biryani(One Portion)</a></li>
          <li><span>Rs.100/-</span><a href="catalogue.html">Chicken Biryani(One Portion)</a></li>
          <li><span>Rs.350/-</span><a href="catalogue.html">Chicken Biryani(Family Pack)</a></li>
          <li><span>Rs.650/-</span><a href="catalogue.html">Chicken Biryani(Bulk Pack)</a></li>
        </ul>
</marquee>
        <a class="button-2" href="#">Read More</a> </article>
    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
  <div class="main">
    <div class="aligncenter"> <span>Copyright &copy; <a href="#">foodies</a> All Rights Reserved</span> Visit Again <a target="_blank" href="foodies.html">Foodies.com</a> </div>
  </div>
</footer>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>
